{% if session['idTipoUsuario'] == 1 or session['idTipoUsuario'] == 3 %}
{% extends "base_inicio.html" %}
{% block title %}Crear Reserva{% endblock  %}
{% block css %}
{% endblock %}
{% block contentInicio %}
<div class="col-lg-6">
  <div class="">
    <div class="card mt-5">
      <div class="card-header dark">
          <h3 class="card-title">Crear Reserva&nbsp&nbsp&nbsp<i class="fas fa-plane"></i></h3>
      </div>
      <div class="card-body register-card-body">
        <form action="" method="POST">
        <div class="">
          {% if session['estado'] and session['idTipoUsuario'] == 1%}
          <div class="input-group mb-3">
            <select class="custom-select" id="estado" name="idUsuario" required>
                <option value="" selected disabled>Seleccione Pasajero</option>
                {% for usuario in usuarios %}
                    {% if usuario['idTipoUsuario'] != 2%}
                    <option value="{{usuario['idUsuario']}}">{{usuario['nombreCompleto']}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div class="input-group-append">
              <label class="input-group-text" for="estado"><i class="fas fa-user-tag"></i></label>
            </div>
          </div>
          {% else %}
          <input type="hidden" value="{{session['idUsuario']}}" name="idUsuario" class="form-control" placeholder="">
          {% endif %}
          <div class="input-group mb-3">
            <select class="custom-select" id="estado" name="idVuelo" required>
                <option value="" selected disabled>Seleccione Destino</option>
                {% for vuelo in vuelos %}
                    <option value="{{vuelo['idVuelo']}}">Vuelo N°{{vuelo['idVuelo']}} Con Destino a {{vuelo['destino']}}</option>
                {% endfor %}
            </select>
            <div class="input-group-append">
              <label class="input-group-text" for="idVuelo"><i class="fas fa-plane-arrival"></i></label>
            </div>
          </div>
        </div>
        <div class="row mb-3">
        <div class="col-6">
            <button type="submit" class="btn btn-mision-pri btn-block">Crear Reserva</button>
        </div>
        <div class="col-6">
            <a href="/" class="btn btn-block btn-mision-sec">
            <i class=""></i> Cancelar
            </a>
        </div>
        </div>
        <div class="row">
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock%}
{% else %}
  No se puede mostrar
{% endif %}