{% if session['idTipoUsuario'] == 1 %}
{% extends "base_inicio.html" %}
{% block title %}Crear Vuelo{% endblock  %}
{% block css %}
<link rel="stylesheet" href="../static/datepicker/css/bootstrap-datepicker.standalone.css">
<link rel="stylesheet" href="../static/datepicker/css/bootstrap-datetimepicker.min.css">
{% endblock %}
{% block contentInicio %}
<div class="col-lg-4">
  <div class="">
    <div class="card mt-4">
      <div class="card-header dark">
          <h3 class="card-title">Crear Nuevo Vuelo&nbsp&nbsp&nbsp<i class="fas fa-plane"></i></h3>
      </div>
      <div class="card-body register-card-body">
        <form action="" method="POST">
          <div class="input-group mb-3">
            <input type="text" name="origen" class="form-control" placeholder="Origen" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-plane-departure"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="text" name="destino" class="form-control" placeholder="Destino" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-plane-arrival"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group date" id="fechaVuelo" data-target-input="nearest">
                <input type="text" name="fecha" id="fechaVuelo" class="form-control datetimepicker-input" data-target="#fechaVuelo" placeholder="Fecha">
                <div class="input-group-append" data-target="#fechaVuelo" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group date" id="" data-target-input="nearest">
                <input class="form-control" name="hora" type="text" id="datetimepicker" placeholder="Hora">
                <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <select class="custom-select" id="idPiloto" name="idPiloto" required>
                <option value="" selected disabled>Seleccione Piloto</option>
                {% for piloto in pilotos %}
                    <option value="{{piloto['idUsuario']}}">{{piloto['nombreCompleto']}}</option>
                {% endfor %}
            </select>
            <div class="input-group-append">
              <label class="input-group-text" for="idPiloto"><i class="fas fa-user-tie"></i></label>
            </div>
          </div>
          <div class="input-group mb-3">
            <select class="custom-select" id="idAvion" name="idAvion" required>
                <option value="" selected disabled>Seleccione Avion</option>
                {% for avion in aviones %}
                    <option value="{{avion['idAvion']}}">{{avion['referencia']}}</option>
                {% endfor %}
            </select>
            <div class="input-group-append">
              <label class="input-group-text" for="idAvion"><i class="fas fa-plane"></i></label>
            </div>
          </div>
          <div class="input-group mb-3">
            <select class="custom-select" id="estado" name="estado">
              <option value="" selected disabled>Seleccione Estado</option>
              <option value="Programado">Programado</option>
              <option value="En Tiempo">En Tiempo</option>
              <option value="Retrasado">Retrasado</option>
              <option value="Aterrizo">Aterrizo</option>
              <option value="Despego">Despego</option>
            </select>
            <div class="input-group-append">
              <label class="input-group-text" for="estado"><i class="fas fa-plane"></i></label>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <button type="submit" class="btn btn-mision-pri btn-block">Crear Vuelo</button>
            </div>
            <div class="col-6">
              <a href="/" class="btn btn-block btn-mision-sec">
                <i class=""></i> Cancelar
              </a>
            </div>
          </div>
          <div class="row">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="../static/datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="../static/datepicker/locales/bootstrap-datepicker.es.min.js"></script>
<script src="../static/datepicker/js/moment.min.js"></script>
<script src="../static/datepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="../static/js/js.js"></script>
{% endblock%}
{% else %}
<h4>No Tiene Permisos para Ingresar a Esta Pagina</h4>
{% endif %}
