{% if session['estado'] %}
{% extends "base_inicio.html" %}
{% block title %}Editar Usuario{% endblock %}
{% block contentInicio %}
<div class="col-lg-6 mt-4">
  <div class="card">
    <div class="card-header">
        <h3 class="card-title">Editar Usuario&nbsp&nbsp&nbsp<i class="fas fa-user-plus"></i></h3>
    </div>
    <div class="card-body register-card-body">
      <form action="" method="POST">
        <div class="input-group mb-3">
          <input type="text" name="nombreCompleto" class="form-control" placeholder="Nombre Completo" value="{{usuario.nombreCompleto}}"required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="email" name="email" class="form-control" placeholder="Email" value="{{usuario.email}}" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="phone" name="celular" class="form-control" placeholder="Numero Celular" value="{{usuario.celular}}" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="fas fa-mobile-alt"></i>
            </div>
          </div>
        </div>
        {% if session['idTipoUsuario'] == 1 %}
        <div class="input-group mb-3">
          <select class="custom-select" id="idTipoUsuario" name="idTipoUsuario" required>
            <option value="{{usuario.idTipoUsuario}}" selected>
            {% if usuario.idTipoUsuario == 1 %}
            Administrador
            {% elif usuario.idTipoUsuario == 2 %}
            Piloto
            {% elif usuario.idTipoUsuario == 3 %}
            Usuario Final
            {% endif %}
            </option>
            {% if usuario.idTipoUsuario != 1 %}
            <option value="1">Administrador</option>
            {% endif %}
            {% if usuario.idTipoUsuario != 2 %}
            <option value="2">Piloto</option>
            {% endif %}
            {% if usuario.idTipoUsuario != 3 %}
            <option value="3">Usuario Final</option>
            {% endif %}
          </select>
          <div class="input-group-append">
            <label class="input-group-text" for="idTipoUsuario"><i class="fas fa-user"></i></label>
          </div>
        </div>
        <div class="input-group mb-3">
          <select class="custom-select" id="estadoUsuario" name="estadoUsuario" required>
            <option value="{{usuario.estadoUsuario}}" selected>
            {% if usuario.estadoUsuario == 1 %}
            Activo
            {% elif usuario.estadoUsuario == 0 %}
            Inactivo
            {% endif %}
            </option>
            {% if usuario.estadoUsuario != 1 %}
            <option value="1">Activo</option>
            {% endif %}
            {% if usuario.estadoUsuario != 0 %}
            <option value="0">Inactivo</option>
            {% endif %}
          </select>
          <div class="input-group-append">
            <label class="input-group-text" for="idTipoUsuario"><i class="fas fa-user"></i></label>
          </div>
        </div>
        {% else %}
        <input type="hidden" value="{{usuario.idTipoUsuario}}" name="idTipoUsuario" class="form-control" placeholder="">
        <input type="hidden" value="{{usuario.estadoUsuario}}" name="estadoUsuario" class="form-control" placeholder="">
        {% endif %}
        <!-- PENDIENTE IMPLEMENTAR CAMBIO DE CONTRASEÑA !-->
        <!--
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="Password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Confirma Password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        !-->
        <div class="row mb-3">
          <div class="col-6">
            <button type="submit" class="btn btn-mision-pri btn-block">Actualizar</button>
          </div>
          <div class="col-6">
            {% if session['idUsuario'] == 1 %}
            <a href="/control/usuarios" class="btn btn-block btn-mision-sec">
              <i class=""></i> Cancelar
            </a>
            {% else %}
            <a href="/" class="btn btn-block btn-mision-sec">
              <i class=""></i> Cancelar
            </a>
            {% endif %}
          </div>
        </div>
        <div class="row">
        {% for message in get_flashed_messages() %}
        {% if message.respuesta %}
          <div class="col-12 alert alert-success">
            El Usuario <strong>{{ message.usuario['nombreCompleto'] }}</strong> fue actualizado correctamente
          </div>
        {% else %}
          <div class="col-12 alert alert-danger">
            El Usuario <strong>{{ message.usuario['nombreCompleto'] }}</strong> ya existe
          </div>
        {% endif %}
        {% endfor %}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% else %}
<h4>No Tiene Permisos para Ingresar a Esta Pagina</h4>
{% endif %}