{% extends "base_inicio.html" %}
{% block title %}Inicio{% endblock  %}
{% block contentInicio %}
<div class="col-lg-6 mt-4">
    <div class="card">
        <div class="card-header dark">
            <h3 class="card-title">Informacion de Vuelos&nbsp&nbsp&nbsp<i class="fas fa-plane"></i></h3>
        </div>
        <div class="card-body">
        <table class="table table-bordered">
            <thead class="thead-mision">
            <tr>
                <th style="width: 20%">Vuelo N°</th>
                <th style="width: 30%">Origen&nbsp&nbsp&nbsp<span class="fas fa-plane-departure"></span></th>
                <th style="width: 30%">Destino&nbsp&nbsp&nbsp<span class="fas fa-plane-arrival"></span></th>
                <th style="width: 20%">Estado&nbsp&nbsp&nbsp<i class="fas fa-plane"></i></th>
            </tr>
            </thead>
            <tbody>
            {% for vuelo in vuelos %}
            <tr>
                <td>{{ vuelo.idVuelo }}</td>
                <td>{{ vuelo.origen }}</td>
                <td>{{ vuelo.destino }}</td>
                {% if vuelo.estado == "Programado" %}
                    <td><h5><small class="badge badge-warning"><i class="far fa-clock"></i>&nbsp&nbsp{{ vuelo.estado }}</small></h5></td>
                {% elif vuelo.estado == "En Tiempo" %}
                    <td><h5><small class="badge badge-success"><i class="far fa-clock"></i>&nbsp&nbsp{{ vuelo.estado }}</small></h5></td>
                {% elif vuelo.estado == "Retrasado" %}
                    <td><h5><small class="badge badge-danger"><i class="far fa-clock"></i>&nbsp&nbsp{{ vuelo.estado }}</small></h5></td>
                {% elif vuelo.estado == "Aterrizo" %}
                    <td><h5><small class="badge badge-dark"><i class="fas fa-plane-arrival"></i>&nbsp&nbsp{{ vuelo.estado }}</small></h5></td>
                {% elif vuelo.estado == "Despego" %}
                    <td><h5><small class="badge badge-info"><i class="fas fa-plane-departure"></i>&nbsp&nbsp{{ vuelo.estado }}</small></h5></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% if session['estado'] and session['idTipoUsuario'] == 1 %}
<div class="col-lg-6 mt-4">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Informacion de Pasajeros&nbsp&nbsp&nbsp<i class="fas fa-users"></i></h3>
        </div>
        <div class="card-body">
        <table class="table table-bordered">
            <thead class="thead-mision">
                <tr>
                    <th style="width: 20%">Vuelo N°</th>
                    <th style="width: 30%">Usuario&nbsp&nbsp&nbsp<i class="fas fa-user"></i></th>
                    <th style="width: 50%">Destino&nbsp&nbsp&nbsp<span class="fas fa-plane-arrival"></span></th>
                </tr>
            </thead>
            <tbody>
                {% for pasajero in pasajeros %}
                <tr>
                    <td>{{pasajero[2]['idVuelo']}}</td>
                    <td>{{pasajero[0]['nombreCompleto']}}</td>
                    <td>{{pasajero[2]['destino']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}