{% if session['estado'] %}
{% extends "base_inicio.html" %}
{% block title %}Informacion Vuelos{% endblock  %}
{% block css %}
{% endblock %}
{% block contentInicio %}
<div class="col-lg-12">
  <div class="">
    <div class="card mt-5">
        <div class="card-header dark">
            <h3 class="card-title">Informacion General de Vuelos&nbsp&nbsp&nbsp<i class="fas fa-plane"></i></h3>
        </div>
        <div class="card-body register-card-body">
            <table class="table table-bordered mt-3">
                <thead class="thead-mision">
                    <tr>
                        <th style="width: 10%">Vuelo N°&nbsp&nbsp&nbsp</th>
                        <th style="width: 20%">Origen&nbsp&nbsp&nbsp</th>
                        <th style="width: 20%">Destino&nbsp&nbsp&nbsp</th>
                        <th style="width: 10%">Avion</th>
                        <th style="width: 15%">Piloto&nbsp&nbsp&nbsp</th>
                        <th style="width: 10%">Capacidad&nbsp&nbsp&nbsp</th>
                        <th style="width: 15%">Estado&nbsp&nbsp&nbsp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for infoVuelo in infoVuelos %}
                    {% if session['idTipoUsuario'] == 2 and session['idUsuario'] == infoVuelo[1]['idUsuario'] %}
                    <tr>
                        <td>{{infoVuelo[0]['idVuelo']}}</td>
                        <td>{{infoVuelo[0]['origen']}}</td>
                        <td>{{infoVuelo[0]['destino']}}</td>
                        <td>{{infoVuelo[2]['referencia']}}</td>
                        <td>{{infoVuelo[1]['nombreCompleto']}}</td>
                        <td>{{infoVuelo[2]['capacidad']}} Pasajeros</td>
                        {% if infoVuelo[0]['estado'] == "Programado" %}
                            <td><h5><small class="badge badge-warning"><i class="far fa-clock"></i>&nbsp&nbsp{{ infoVuelo[0]['estado'] }}</small></h5></td>
                        {% elif infoVuelo[0]['estado'] == "En Tiempo" %}
                            <td><h5><small class="badge badge-success"><i class="far fa-clock"></i>&nbsp&nbsp{{ infoVuelo[0]['estado'] }}</small></h5></td>
                        {% elif infoVuelo[0]['estado'] == "Retrasado" %}
                            <td><h5><small class="badge badge-danger"><i class="far fa-clock"></i>&nbsp&nbsp{{ infoVuelo[0]['estado'] }}</small></h5></td>
                        {% elif infoVuelo[0]['estado'] == "Aterrizo" %}
                            <td><h5><small class="badge badge-dark"><i class="fas fa-plane-arrival"></i>&nbsp&nbsp{{ infoVuelo[0]['estado'] }}</small></h5></td>
                        {% elif infoVuelo[0]['estado'] == "Despego" %}
                            <td><h5><small class="badge badge-info"><i class="fas fa-plane-departure"></i>&nbsp&nbsp{{ infoVuelo[0]['estado'] }}</small></h5></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if session['idTipoUsuario'] != 2 %}
                    <tr>
                        <td>{{infoVuelo[0]['idVuelo']}}</td>
                        <td>{{infoVuelo[0]['origen']}}</td>
                        <td>{{infoVuelo[0]['destino']}}</td>
                        <td>{{infoVuelo[2]['referencia']}}</td>
                        <td>{{infoVuelo[1]['nombreCompleto']}}</td>
                        <td>{{infoVuelo[2]['capacidad']}} Pasajeros</td>
                        {% if infoVuelo[0]['estado'] == "Programado" %}
                            <td><h5><small class="badge badge-warning"><i class="far fa-clock"></i>&nbsp&nbsp{{ infoVuelo[0]['estado'] }}</small></h5></td>
                        {% elif infoVuelo[0]['estado'] == "En Tiempo" %}
                            <td><h5><small class="badge badge-success"><i class="far fa-clock"></i>&nbsp&nbsp{{ infoVuelo[0]['estado'] }}</small></h5></td>
                        {% elif infoVuelo[0]['estado'] == "Retrasado" %}
                            <td><h5><small class="badge badge-danger"><i class="far fa-clock"></i>&nbsp&nbsp{{ infoVuelo[0]['estado'] }}</small></h5></td>
                        {% elif infoVuelo[0]['estado'] == "Aterrizo" %}
                            <td><h5><small class="badge badge-dark"><i class="fas fa-plane-arrival"></i>&nbsp&nbsp{{ infoVuelo[0]['estado'] }}</small></h5></td>
                        {% elif infoVuelo[0]['estado'] == "Despego" %}
                            <td><h5><small class="badge badge-info"><i class="fas fa-plane-departure"></i>&nbsp&nbsp{{ infoVuelo[0]['estado'] }}</small></h5></td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock%}
{% else %}
<h4>No Tiene Permisos para Ingresar a Esta Pagina</h4>
{% endif %}