{% if session['estado'] and session['idTipoUsuario'] != 2 %}
{% extends "base_inicio.html" %}
{% block title %}Mis Reservas{% endblock  %}
{% block css %}
{% endblock %}
{% block contentInicio %}
<div class="col-lg-12">
  <div class="">
    <div class="card mt-5">
        <div class="card-header dark">
            <h3 class="card-title">Mis Reservas&nbsp&nbsp&nbsp<i class="fas fa-plane"></i></h3>
        </div>
        <div class="card-body register-card-body">
            <table class="table table-bordered mt-3">
                <thead class="thead-mision">
                    <tr>
                        <th style="width: 10%">Reserva N°&nbsp&nbsp&nbsp</th>
                        <th style="width: 10%">Vuelo N°&nbsp&nbsp&nbsp</th>
                        <th style="width: 20%">Origen&nbsp&nbsp&nbsp</th>
                        <th style="width: 20%">Destino&nbsp&nbsp&nbsp</th>
                        <th style="width: 10%">Avion</th>
                        <th style="width: 15%">Piloto&nbsp&nbsp&nbsp</th>
                        <th style="width: 10%">Capacidad&nbsp&nbsp&nbsp</th>
                        <th style="width: 15%">Estado&nbsp&nbsp&nbsp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for info in infoReserva %}
                    <tr>
                        <td>{{infoReserva[loop.index-1][0]['idReserva']}}</td>
                        <td>{{infoReserva[loop.index-1][0]['idVuelo']}}</td>
                        <td>{{infoReserva[loop.index-1][1]['origen']}}</td>
                        <td>{{infoReserva[loop.index-1][1]['destino']}}</td>
                        <td>{{infoReserva[loop.index-1][2]['referencia']}}</td>
                        <td>{{infoReserva[loop.index-1][3]['nombreCompleto']}}</td>
                        <td>{{infoReserva[loop.index-1][2]['capacidad']}} Pasajeros</td>
                        {% if infoReserva[loop.index-1][1]['estado'] == "Programado" %}
                            <td><h5><small class="badge badge-warning"><i class="far fa-clock"></i>&nbsp&nbsp{{ infoReserva[loop.index-1][1]['estado'] }}</small></h5></td>
                        {% elif infoReserva[loop.index-1][1]['estado'] == "En Tiempo" %}
                            <td><h5><small class="badge badge-success"><i class="far fa-clock"></i>&nbsp&nbsp{{ infoReserva[loop.index-1][1]['estado'] }}</small></h5></td>
                        {% elif infoReserva[loop.index-1][1]['estado'] == "Retrasado" %}
                            <td><h5><small class="badge badge-danger"><i class="far fa-clock"></i>&nbsp&nbsp{{ infoReserva[loop.index-1][1]['estado'] }}</small></h5></td>
                        {% elif infoReserva[loop.index-1][1]['estado'] == "Aterrizo" %}
                            <td><h5><small class="badge badge-dark"><i class="fas fa-plane-arrival"></i>&nbsp&nbsp{{ infoReserva[loop.index-1][1]['estado'] }}</small></h5></td>
                        {% elif infoReserva[loop.index-1][1]['estado'] == "Despego" %}
                            <td><h5><small class="badge badge-info"><i class="fas fa-plane-departure"></i>&nbsp&nbsp{{ infoReserva[loop.index-1][1]['estado'] }}</small></h5></td>
                        {% endif %}
                        
                          
                    </tr>
                   
                    {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock%}
{% else %}
<h4>No Tiene Permisos para Ingresar a Esta Pagina</h4>
{% endif %}