{% if session['idTipoUsuario'] == 1 %}
{% extends "base_inicio.html" %}
{% block title %}Gestion Usuarios{% endblock  %}
{% block css %}
{% endblock %}
{% block contentInicio %}
<div class="col-lg-10">
  <div class="">
    <div class="card mt-5">
        <div class="card-header dark">
            <h3 class="card-title">Gestion de Usuarios&nbsp&nbsp&nbsp<i class="fas fa-users"></i></h3>
        </div>
        <div class="card-body register-card-body">
            <div class="btn-group btn-group-sm">
                <a href="{{url_for('usuario.crearUsuario')}}" class="btn btn-success"><i class="fas fa-user-plus">&nbsp&nbsp</i>Crear Usuario</a>
            </div>
            <table class="table table-bordered mt-3">
                <thead class="thead-mision">
                    <tr>
                        <th style="width: 20%">Nombre Completo&nbsp&nbsp&nbsp</th>
                        <th style="width: 20%">Email</th>
                        <th style="width: 20%">Tipo de Usuario&nbsp&nbsp&nbsp</th>
                        <th style="width: 10%">Estado&nbsp&nbsp&nbsp</th>
                        <th style="width: 10%">Gestion&nbsp&nbsp&nbsp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{usuario['nombreCompleto']}}</td>
                        <td>{{usuario['email']}}</td>
                        {% if usuario['idTipoUsuario'] == 1 %}
                            <td>Administrador</td>
                        {% elif usuario['idTipoUsuario'] == 2 %}
                            <td>Piloto</td>
                        {% elif usuario['idTipoUsuario'] == 3 %}
                            <td>Usuario Final</td>
                        {% endif %}
                        <td>
                        {% if usuario['estadoUsuario'] == 1 %}
                            <div class="btn-group btn-group-sm">
                                <a href="" class="btn btn-success btnInactivo"><i class="fas fa-check-circle">&nbsp</i>Activo</a>
                            </div>
                        {% else %}
                            <div class="btn-group btn-group-sm">
                                <a href="" class="btn btn-danger btnInactivo"><i class="fas fa-times-circle">&nbsp</i>Inactivo</a>
                            </div>
                        {% endif %}
                            
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a href="{{ url_for('usuario.editarUsuario', id=usuario['idUsuario']) }}" class="btn btn-mision-pri"><i class="fas fa-edit">&nbsp</i>Editar</a>
                            </div>
                        </td>  
                    </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock%}
{% else %}
<h4>No Tiene Permisos para Ingresar a Esta Pagina</h4>
{% endif %}
