{% if not session['estado'] %}
{% extends "base.html" %}
{% block title %}Iniciar Sesión{% endblock  %}
{% block content %}
<div class="register-page">
  <div class="login-box">
    <div class="login-logo">
      <div class="text-center">
        <a href="/"><img src="../static/dist/img/AdminLTELogo.png" alt="MisionAir" width="145" height="150"></a>
      </div>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <h4 class="login-box-msg">Inicio de Sesión</h4>
        <form method="post">
          <div class="input-group mb-3">
            <input type="email" name="email" class="form-control" placeholder="Email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" name="password" class="form-control" placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="social-auth-links text-center mb-3">
            <button type="submit" class="btn btn-mision-pri btn-block">Ingresar</button>
            <a href="/auth/register" class="btn btn-block btn-mision-sec">
              <i class=""></i> Registrarse
            </a>
          </div>
          <div class="row">
          {% for message in get_flashed_messages() %}
          {% if message.estado %}
            <div class="col-12 alert alert-success">
              El Usuario <strong>{{ message.nombreCompleto }}</strong> ingreso correctamente !!
            </div>
          {% else %}
            <div class="col-12 alert alert-danger">
              El Usuario no pudo ingresar, verifique nuevamente.
            </div>
          {% endif %}
          {% endfor %}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% else %}
<h4>Ya se encuentra logueado en el sistema</h4>
{% endif %}


