{% if not session['estado'] or session['idTipoUsuario'] == 1%}
{% extends "base_inicio.html" %}
{% block title %}Registrar Usuario{% endblock  %}
{% block contentInicio %}
<div class="col-lg-6 mt-4">
  <div class="card">
    <div class="card-header">
        <h3 class="card-title">Registrar Usuario&nbsp&nbsp&nbsp<i class="fas fa-user-plus"></i></h3>
    </div>
    <div class="card-body register-card-body">
      <form action="" method="POST">
        <div class="input-group mb-3">
          <input type="text" name="nombreCompleto" class="form-control" placeholder="Nombre Completo" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="email" name="email" class="form-control" placeholder="Email" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" name="celular" class="form-control" placeholder="Numero Celular" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="fas fa-mobile-alt"></i>
            </div>
          </div>
        </div>
        {% if session['idTipoUsuario'] == 1 %}
        <div class="input-group mb-3">
          <select class="custom-select" id="idTipoUsuario" name="idTipoUsuario" required>
            <option value="" selected disabled>Seleccione Tipo de Usuario</option>
            <option value="1">Administrador</option>
            <option value="2">Piloto</option>
            <option value="3">Usuario Final</option>
          </select>
          <div class="input-group-append">
            <label class="input-group-text" for="idTipoUsuario"><i class="fas fa-plane-arrival"></i></label>
          </div>
        </div>
        <div class="input-group mb-3">
          <select class="custom-select" id="estadoUsuario" name="estadoUsuario" required>
            <option value="" selected disabled>Seleccione Estado de Usuario</option>
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
          </select>
          <div class="input-group-append">
            <label class="input-group-text" for="idTipoUsuario"><i class="fas fa-plane-arrival"></i></label>
          </div>
        </div>
        {% else %}
        <input type="hidden" value="3" name="idTipoUsuario" class="form-control" placeholder="">
        <input type="hidden" value="1" name="estadoUsuario" class="form-control" placeholder="">
        {% endif %}
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="Password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Confirma Password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" required placeholder="Enter Name"
              oninvalid="this.setCustomValidity('Debe aceptar el tratamiento de datos para continuar')"
              oninput="this.setCustomValidity('')">
            <label class="form-check-label" for="gridCheck">
              Acepto la política del tratamiento de datos personales vigente.
            </label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            <button type="submit" class="btn btn-mision-pri btn-block">Registrarse</button>
          </div>
          <div class="col-6">
            <a href="/" class="btn btn-block btn-mision-sec">
              <i class=""></i> Cancelar
            </a>
          </div>
        </div>
        <div class="row">
        {% for message in get_flashed_messages() %}
        {% if message.respuesta %}
          <div class="col-12 alert alert-success">
            El Usuario <strong>{{ message.usuario['nombreCompleto'] }}</strong> fue creado correctamente
          </div>
        {% else %}
          <div class="col-12 alert alert-danger">
            El Usuario <strong>{{ message.usuario['nombreCompleto'] }}</strong> ya existe
          </div>
        {% endif %}
        {% endfor %}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% else %}
<h4>No Tiene Permisos para Ingresar a Esta Pagina</h4>
{% endif %}




