{% extends "base.html" %}
{% block content %}
<div class="wrapper sidebar-mini">
  <nav class="main-header navbar navbar-expand navbar-white navbar-light mb-0">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Inicio</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contacto</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Buscar" aria-label="Buscar">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </nav>
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/" class="brand-link">
      <img src="../../static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Misión Air | Control</span>
    </a>
    <div class="sidebar">
      {% if session['nombreUsuario'] %}
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../static/dist/img/user8-128x128.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="" class="d-block" style="pointer-events: none; cursor: default">{{session['nombreUsuario']}}</a>
          <a href="" class="d-block" style="pointer-events: none; cursor: default">{{session['tipoUsuario']}}</a>
          <a href="{{ url_for('usuario.editarUsuario', id=session['idUsuario']) }}" class="d-block">Editar Informacion</a>
        </div>
      </div>
      {% endif %}
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          {% if session['estado'] %}
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="fas fa-home">&nbsp</i>
              <p>
                Inicio
              </p>
            </a>
          </li>
          {% endif %}
          {% if session['estado'] and session['idTipoUsuario'] == 1 %}
           <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-user-cog">&nbsp</i>
              <p>
                Administrar Sistema
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/control/usuarios" class="nav-link">
                  <i class="fas fa-chevron-right">&nbsp</i>
                  <p>Gestion de Usuarios</p>
                </a>
              </li>
            </ul>
          </li>
          {% endif %}
          {% if session['estado'] %}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-plane">&nbsp</i>
              <p>
                Vuelos
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              {% if session['idTipoUsuario'] == 1%}
              <li class="nav-item">
                <a href="/control/creavuelo" class="nav-link">
                  <i class="fas fa-chevron-right">&nbsp</i>
                  <p>Crear Vuelo</p>
                </a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a href="/control/infovuelos" class="nav-link">
                  <i class="fas fa-chevron-right">&nbsp</i>
                  <p>Informacion Vuelos</p>
                </a>
              </li>
            </ul>
          </li>
          {% if session['idTipoUsuario'] != 2%}
          <li class="nav-item">
            <a href="#" class="nav-link">
            <i class="far fa-calendar-alt">&nbsp</i>
              <p>
                Reservas
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/control/creareserva" class="nav-link">
                  <i class="fas fa-chevron-right">&nbsp</i>
                  <p>Crear Reserva</p>
                </a>
              </li>
              {% if session['idTipoUsuario'] != 2%}
              <li class="nav-item">
                <a href="/inforeserva/{{session['idUsuario']}}" class="nav-link">
                  <i class="fas fa-chevron-right">&nbsp</i>
                  <p>Mis reservas</p>
                </a>
              </li>
              {% endif %}
            </ul>
          </li>
          {% endif %}
          <li class="nav-item">
            <a href="{{ url_for('auth.logout')}}" class="nav-link">
              <i class="fas fa-sign-out-alt">&nbsp</i>
              <p>
                Cerrar Sesión
              </p>
            </a>
          </li>
          {% endif %}
          {% if not session['estado']%}
          <li class="nav-item">
            <a href="/auth/login" class="nav-link">
              <i class="fas fa-sign-in-alt">&nbsp</i>
              <p>
                Ingresar
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/auth/register" class="nav-link">
            <i class="fas fa-user-plus"></i>
              <p>
                Registrarse
              </p>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </aside>
  <div class="content-wrapper">
    <div class="content">
      <div class="container-fluid">
        <div class="row justify-content-lg-center">
            {% block contentInicio %}
            {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <aside class="control-sidebar control-sidebar-dark">
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <footer class="main-footer">
    <strong>Copyright &copy; <a href="">Juan Pablo Espinosa Grupo 55 - 2  2022</a>.</strong> Todos los derechos reservados.
  </footer>
</div>
{% endblock %}