<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Controlador Aereo | {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="../static/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="../static/icheck-bootstrap/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="../static/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="../static/css/misestilos.css">
  {% block css %}{% endblock %}
</head>
<body class="hold-transition">
{% block content %}{% endblock %}
<script src="../static/jquery/jquery.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/dist/js/adminlte.min.js"></script>
{% block scripts %}{% endblock%}
</body>
</html>