.card-header {
    background-color: #4163B7;
    color: white;
}

.btn-mision-pri {
    color: #fff;
    background-color: #4163B7;
    border-color: #4163B7;
    box-shadow: none;
}

.btn-mision-sec {
    color: #fff;
    background-color: #EE2469;
    border-color: #EE2469;
    box-shadow: none;
}

.btn-mision-pri:hover  {
    color: #fff;
    text-decoration: none;
    background-color: rgba(65,99,183,.9);
}

.btn-mision-sec:hover  {
    color: #fff;
    text-decoration: none;
    background-color: rgba(238,36,105,.9);
}

.thead-mision {
    color: #fff;
    background-color: #EE2469;
    border-color: #EE2469;
    box-shadow: none;
}

/* Botones Menu Principal */
[class*=sidebar-dark-] 
.nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] 
.nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] 
.nav-sidebar>.nav-item>.nav-link:focus {
    background-color: rgba(238,36,105,.7);
    color: #fff;
}

/* Botones Secundarios Menu Principal */
.nav-pills .nav-link:not(.active):hover {
    color: #007bff;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover {
    background-color: rgba(65,99,183,.7);
}

.btnInactivo {
    pointer-events:none;
}
